.btn-twitter {
    color: #ffffff;
    &:hover {
        color: #ffffff;
    }
    @include button-variant(#1A8CD8, transparent)
}

.btn-facebook {
    color: #ffffff;
    &:hover {
        color: #ffffff;
    }
    @include button-variant(#1877F2, transparent)
}

.btn-instagram {
    color: #ffffff;
    &:hover {
        color: #ffffff;
    }
    @include button-variant(#A9297C, transparent)
}
.btn-linkedin {
    color: #ffffff;
    &:hover {
        color: #ffffff;
    }
    @include button-variant(#0A66C2, transparent)
}
.btn-youtube {
    color: #ffffff;
    &:hover {
        color: #ffffff;
    }
    @include button-variant(#FF0000, transparent)
}
